# API Keys
# OPENAI_ENDPOINT_API_KEY=your-api-key-here
# ANTHROPIC_API_KEY=your-api-key-here
# OPENAI_API_KEY=your-openai-key-here

# BRAVE_API_KEY=
# SERP_API_KEY=your-api-key-here
# GUARDIAN_API_KEY=your-api-key-here
# GOOGLE_PSE_API_KEY=your-google-api-key-here
# GOOGLE_PSE_ENGINE_ID=your-programmable-search-engine-id-here


# SearXNG Configuration, add at least SEARXNG_INSTANCE to .env file to use this search engine
# SEARXNG_INSTANCE = "http://localhost:8080"
# SEARXNG_DELAY = 2.0
